<a href="https://colab.research.google.com/github/Ritvik10/Data-Science-Overview-Material-Practice-and-Revision/blob/main/Day_18_Database_System%2C_Database%2C_SQL_%26_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
-- Show all the database
SHOW DATABASES;


-- Create a Database
-- SYNTAX: CREATE DATABASE database_name;
CREATE DATABASE Student;

USE Student;

-- Delete a Database
-- SYNTAX: DROP DATABASE database_name;
drop database stUDenT;

-- Making a Database Backup
-- SYNTAX: BACKUP DATABASE database_name TO DISK = 'filepath';



-- Creating a Table
-- SYNTAX: CREATE TABLE table_name(
--                COL1 datatype, COL2 datatype);

CREATE TABLE Information(
Name char(50),
Age int,
RollNo int,
Email varchar(500)
);

-- Char -> 255 -> Fixed Length -> Faster than Varchar
-- Varchar -> 65,535 -> Variable Length -> Slower than Char
-- Admission_Number =



-- Deleting a Table
-- SYNTAX: DROP TABLE table_name;
-- Q. DROP, DELETE & TRUNCATE
DROP TABLE information;


-- ALTER -> To add, delete or modify columns
-- Adding a column
ALTER TABLE information
ADD City char(255);

-- Deleting a column
ALTER TABLE information
DROP City;



-- Changing the datatype of a column
ALTER TABLE information
MODIFY COLUMN EMAIL char(255);

-- Constraints

-- Email -> str() -> "Hello"
-- Email -> str(),@ -> "@Hello"
-- Email -> str(), _________@_____.______ -> hello@world.djfivhfedihfedkgjvhdkjdvkjhvbrkdkvbfd
-- Email -> str(), _________@_____.______(10) -> hello@world.phone

-- 1st Constraint -> NOT NULL
-- Name
-- Email*
-- Pwd*
-- Add
-- Phone

CREATE TABLE Information1(
Name char(50) NOT NULL,
Age int,
RollNo int,
Email varchar(500)
);


ALTER TABLE information1
MODIFY COLUMN EMAIL char(255) NOT NULL;



-- 2nd Constraint -> UNIQUE

-- ORACLE, MS ACCESS, MS SQL SERVER
CREATE TABLE Information1(
Name char(50) UNIQUE,
Age int,
RollNo int,
Email varchar(500)
);

-- MYSQL
CREATE TABLE Information2(
Name char(50),
Age int,
RollNo int,
Email varchar(500),
UNIQUE (RollNo)
);


-- 3rd Constraint -> DEFAULT
CREATE TABLE Information4(
Name char(50) DEFAULT "XYZ",
Age int,
RollNo int,
Email varchar(500)
);
"""

'\n-- Show all the database\nSHOW DATABASES;\n\n\n-- Create a Database\n-- SYNTAX: CREATE DATABASE database_name;\nCREATE DATABASE Student;\n\nUSE Student;\n\n-- Delete a Database\n-- SYNTAX: DROP DATABASE database_name;\ndrop database stUDenT;\n\n-- Making a Database Backup\n-- SYNTAX: BACKUP DATABASE database_name TO DISK = \'filepath\';\n\n\n\n-- Creating a Table\n-- SYNTAX: CREATE TABLE table_name(\n--                COL1 datatype, COL2 datatype);\n\nCREATE TABLE Information(\nName char(50),\nAge int,\nRollNo int,\nEmail varchar(500)\n);\n\n-- Char -> 255 -> Fixed Length -> Faster than Varchar\n-- Varchar -> 65,535 -> Variable Length -> Slower than Char\n-- Admission_Number = \n\n\n\n-- Deleting a Table\n-- SYNTAX: DROP TABLE table_name;\n-- Q. DROP, DELETE & TRUNCATE\nDROP TABLE information;\n\n\n-- ALTER -> To add, delete or modify columns\n-- Adding a column\nALTER TABLE information\nADD City char(255);\n\n-- Deleting a column\nALTER TABLE information\nDROP City;\n\n\n\n-- Changing the datatype of a column\nALTER TABLE information\nMODIFY COLUMN EMAIL char(255);\n\n-- Constraints\n\n-- Email -> str() -> "Hello"\n-- Email -> str(),@ -> "@Hello"\n-- Email -> str(), _________@_____.______ -> hello@world.djfivhfedihfedkgjvhdkjdvkjhvbrkdkvbfd\n-- Email -> str(), _________@_____.______(10) -> hello@world.phone\n\n-- 1st Constraint -> NOT NULL\n-- Name\n-- Email*\n-- Pwd*\n-- Add\n-- Phone\n\nCREATE TABLE Information1(\nName char(50) NOT NULL,\nAge int,\nRollNo int,\nEmail varchar(500)\n);\n\n\nALTER TABLE information1\nMODIFY COLUMN EMAIL char(255) NOT NULL;\n\n\n\n-- 2nd Constraint -> UNIQUE\n\n-- ORACLE, MS ACCESS, MS SQL SERVER\nCREATE TABLE Information1(\nName char(50) UNIQUE,\nAge int,\nRollNo int,\nEmail varchar(500)\n);\n\n-- MYSQL\nCREATE TABLE Information2(\nName char(50),\nAge int,\nRollNo int,\nEmail varchar(500),\nUNIQUE (RollNo)\n);\n\n\n-- 3rd Constraint -> DEFAULT\nCREATE TABLE Information4(\nName char(50) DEFAULT "XYZ",\nAge int,\nRollNo int,\nEmail varchar(500)\n);\n'